openapi: "3.0.0"
info:
  version: 1.0.0
  title: AssetStorm
  license:
    name: GPLv3
servers:
  - url: http://assetstorm.pinae.net
paths:
  /:
    get:
      tags:
        - asset
      parameters:
        - $ref: "#/paths/~1load/get/parameters/0"
      responses:
        '200':
          $ref: "#/paths/~1load/get/responses/200"
        default:
          $ref: "#/paths/~1load/get/responses/default"
    post:
      tags:
        - asset
      requestBody:
        $ref: "#/paths/~1save/post/requestBody"
      responses:
        '200':
          $ref: "#/paths/~1save/post/responses/200"
        default:
          $ref: "#/paths/~1save/post/responses/default"
  /load:
    get:
      summary: Load one asset by ID
      operationId: load_asset
      tags:
        - asset
      parameters:
        - name: id
          in: query
          description: ID as a UUIDv4 string identifying the desired asset
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Returns the content tree of the requested asset.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetTree"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /save:
    post:
      summary: Create or modify all assets from the supplied tree
      operationId: save_asset
      tags:
        - asset
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetTree"
      responses:
        '200':
          description: Returns a boolean und the ID of the asset on the top level.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /find:
    post:
      summary: Query for assets only with filters
      operationId: find_asset_filter_only
      tags:
        - asset
      requestBody:
        $ref: "#/paths/~1find~1%7BsearchString%7D/post/requestBody"
      responses:
        '200':
          $ref: "#/paths/~1find~1%7BsearchString%7D/post/responses/200"
        default:
          $ref: "#/paths/~1find~1%7BsearchString%7D/post/responses/default"
  /find/{query_string}:
    post:
      summary: Query for assets with a query_string and filters
      operationId: find_asset
      tags:
        - asset
      parameters:
        - name: query_string
          in: path
          required: true
          description: The query string may be empty
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchFilters"
      responses:
        '200':
          description: Returns the IDs of the requested assets.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueryResponse"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /get_template:
    get:
      summary: Load template definitions for AssetType objects.
      operationId: get_template
      tags:
        - asset
      parameters:
        - name: type_name
          in: query
          required: true
          description: The type_name of the AssetType
          schema:
            type: string
        - name: template_type
          in: query
          required: true
          description: The template_type of the template in the AssetType
          schema:
            type: string
      responses:
        '200':
          description: Returns the template as a string.
          content:
            text/plain:
              schema:
                type: string
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /get_schema:
    get:
      summary: Load schema for AssetType objects.
      operationId: get_template
      tags:
        - asset
      parameters:
        - name: type_name
          in: query
          required: true
          description: The type_name of the AssetType
          schema:
            type: string
        - name: type_id
          in: query
          required: true
          description: The ID of the AssetType
          schema:
            type: integer
      responses:
        '200':
          description: Returns the schema as JSON string.
          content:
            application/json:
              schema:
                type: "#/components/schemas/AssetTypeSchema"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /get_types_for_parent:
    get:
      summary: Load type names of all child AssetType objects of the given AssetType.
      operationId: get_types_for_parent
      tags:
        - asset
      parameters:
        - name: parent_type_name
          in: query
          required: true
          description: The type_name of the parent AssetType
          schema:
            type: string
      responses:
        '200':
          description: Returns the list of type names.
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/TypeNameList"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /openapi.json:
    get:
      summary: Load template definitions for AssetType objects.
      operationId: openapi.json
      tags:
        - asset
      responses:
        '200':
          description: Returns the OpenAPI definition as JSON.
          content:
            application/json:
              schema:
                type: string
  /live:
    get:
      summary: Ask the django app if everything including the database is up and running.
      operationId: live
      tags:
        - asset
      responses:
        '200':
          description: AssetStorm is up and running
          content:
            text/plain:
              schema:
                type: string
        '400':
          description: The database is not online (yet)
          content:
            text/plain:
              schema:
                type: string
components:
  schemas:
    ErrorResponse:
      type: object
      required:
        - Error
        - Asset
      properties:
        Error:
          type: string
        Asset:
          type: object
    SuccessResponse:
      type: object
      required:
        - success
        - id
      properties:
        success:
          type: boolean
        id:
          type: string
          format: uuid
    SearchFilters:
      type: object
    QueryResponse:
      type: object
      required:
        - success
        - foundAssetIDs
      properties:
        success:
          type: boolean
        foundAssetIDs:
          type: array
          items:
            type: string
            format: uuid
    TypeNameList:
      type: array
      items:
        type: string
    AssetTypeSchema:
      type: object
      properties:
        type:
          type: string
      additionalProperties:
        oneOf:
          - type: integer
          - type: array
            items:
              type: integer
    AssetTree:
      type: object
      anyOf:
        - required:
            - id
        - required:
            - type
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
      additionalProperties:
        oneOf:
          - type: string
          - $ref: "#/components/schemas/AssetTree"
          - type: array
            items:
              type: string
          - type: array
            items:
              $ref: "#/components/schemas/AssetTree"
